PRIVATE_KEY="0xYOUR_PRIVATE_KEY_HERE"
WALLET_ADDRESS="0xYOUR_WALLET_ADDRESS_HERE"
POLY_API_KEY="YOUR_POLYMARKET_API_KEY"
POLY_SECRET="YOUR_POLYMARKET_API_SECRET"
POLY_PASSPHRASE="YOUR_POLYMARKET_API_PASSPHRASE"
